* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  text-decoration: underline;
  text-align: center;
  padding: 2rem;
}

ul {
  text-align: left;
  margin-left: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #21222a;
  color: aliceblue;
  width: 100%;
}

.icon {
  width: 100px;
}

.nav > h4 {
  margin-right: auto;
  margin-left: 1em;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-list > li {
  padding: 0.5em;
}

.nav-list > li:hover {
  text-decoration: underline overline;
  cursor: pointer;
}

footer {
  background-color: #21222a;
  color: aliceblue;
  margin-top: 4rem;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main--list > li {
  line-height: 1.2;
}

.main--list > li::marker {
  color: rgb(91, 154, 154);
  font-size: 1.2rem;
}
